
 
    nav {background-color: #111;
        ul{margin:0; padding: 0;}
         ul.hide {display: flex;}
        li {width: 25%; float: left;}
         li.active {background-color: #333}
         a {
            display: block;
            padding: .8rem 0; /*44px min*/
            color: #eee;
            text-align: center;
            text-decoration: none;
         }//end of the a
         a:hover {background-color: #444;}
         button{
           display: none;
            }
        }
    main figure {
        float: right; 
        width: 48%; 
        margin-left: $gutter;
        padding-bottom: .5rem;
    }
    .Forecast1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: auto;
        text-align: center;
        max-width: 40%;
      
         
      }
      .Forecast1 img {
        display: block;
        max-width: 60%;
        margin: auto;
      }
      div.Forecast1{
  border:1px solid black; 
}
.cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .Activityphoto  {
    background-position: center center;
background-repeat: no-repeat;
background-size: cover;
border-top-left-radius: 0.1rem;
border-top-right-radius: 0.1rem;
filter: contrast(70%);
//filter: saturate(180%);
overflow: hidden;
position: relative;
transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
&::before {
content: "";
  display: block;
padding-top: 56.25%; // 16:9 aspect ratio
}
  }
  .Contact {
    flex-direction: row;
    height: auto;
  }
  .Contact > div {
    margin-right: .30rem;
  }
  #map {
    display: block;
    
  }
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
    footer {
      background-color: #17a8e4;
      text-align: left;
     
  }
  .blog {
    display: flex;
    flex-wrap: wrap;
  }
  .Peoplesection:nth-child(even) {
    flex-direction: row-reverse;
  }
  .Peoplesection{
    display:flex;
    width: 95%;
    padding-bottom: 50px;
  }
    
  .Peoplephoto {
    width:60%;
    
  }
  .Description {
    text-align:left;
  }