/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}


header {
    background-color: #17a8e4;
    padding: 1rem 2%;
}
header h1 {
	margin: 0; 
	font-size: 1.1rem;
}
header h2{
	margin: 0; 
	font-size: 1.2rem; 
	font-weight: normal;
}
header section {
    margin:auto 0;
    flex: 0.9;
}
#logo{
    padding-left: 4rem;
}

nav {   border-color: transparent;
    background-color: #222;  
    ul{margin:0; padding: 0;}
     li {list-style-type: none;    position: relative;}
     li.active {background-color: #333}
     a {
        display: block;
        padding: .8rem 0; /*44px min*/
        color: #eee;
        text-align: center;
        text-decoration: none;
     }//end of the a
     a:hover {background-color: #444;}
     button{
        margin:.2rem 2%;
        background-color: transparent;
        border: none;
        /*font-size: 1.6 rem;*/
        color: #fff;   
        text-align: center;
        width: 100%;}
        ul.hide {
            display: none;
        }

    } //end of nav
    #herodiv{
        position: relative;
        padding-left: 0;
        
    }
    //top
section{
    display: block;
}
  .hero-ph {
      background-color:#A59B96;
    position: absolute;
    background-color: none;
    top:.2rem;
    left:2rem;
    justify-content: center;
    padding: .2rem;
    text-align: center;
    font-size:1rem ;
    border : 1px solid #311E16 ;
    
  }
  .herito{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color:black;

  }
   
  picture.photoA{
    display:block;
    width:100%;
    filter: contrast(70%);

}
main {display: block;background-color:#A59B96; 
    picture.photoA div{
    text-align:center;}

    picture.photoA img{
    width:100%;}
    h1 {color: #17a8e4;}

    figure img {width: 100%;}
    figure{
    margin: 0;
    width: 100%;}
    figcaption {text-align: center; font-size: .8rem;}
   
    //end of the main
}
//Forescast//
.Forecast1 {
    display: none;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: rgb(56, 54, 54);;
    margin: 0 auto; 
    color:white;
  }
  .Forecast1 h2{
    grid-column-start:span 5;
    justify-content: center;
}

footer {
    background-color: #17a8e4;
    height: auto;
    text-align: center; 
    padding:0.75rem;
    margin: 0 auto;
    
}
footer p{
    margin-left: 30px;
}
.Article{
 margin:30px;
}


main div.cards {
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    margin: auto;
    text-align:center;
    padding: .10rem;
    grid-gap: 10px;
    padding: 0.5rem;
     
    }

 div.cards section   {
       
        border: 1px solid rgb(30, 51, 37);
        border-radius: 5px;
        background-color: #8FBAEC;
    }
    .Activityphoto  {
        background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  width:100%;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
    
  }
}
 

#map{
    float:right;
    margin-top: 0;
    display:none;
    height:100%;
    margin-right:10px;
    
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*----Peple---*/
.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    a {
      color: inherit;
    }
    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
}
