/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}


header {
    background-color: #17a8e4;
    padding: 1rem 2%;
    font-family: $fontprincipal;
}
header h1 {
	margin: 0; 
	font-size: 1.1rem;
}
header h2{
	margin: 0; 
	font-size: 1.2rem; 
	font-weight: normal;
}
header section {
    margin:auto 0;
    flex: 0.9;
}
#logo{
    padding-left: 4rem;
}

nav {   border-color: transparent;
    background-color: #222; 
    font-family: $fontprincipal; 
    ul{margin:0; padding: 0;}
     li {list-style-type: none;    position: relative;}
     li.active {background-color: #333}
     a {
        display: block;
        padding: .8rem 0; /*44px min*/
        color: #eee;
        text-align: center;
        text-decoration: none;
     }//end of the a
     a:hover {background-color: #444;}
     button{
        margin:.2rem 2%;
        background-color: transparent;
        border: none;
        /*font-size: 1.6 rem;*/
        color: #fff;   
        text-align: center;
        width: 100%;}
        ul.hide {
            display: none;
        }

    } //end of nav
    #herodiv{
        position: relative;
        padding-left: 0;
        
    }
    //top
section{
    display: block;
}
  .hero-ph {
      background-color:#A59B96;
    position: absolute;
    top:.2rem;
    left:2rem;
    justify-content: center;
    padding: .2rem;
    text-align: center;
    font-size:1rem ;
    border : 1px solid #311E16 ;
    
  }
  .herito{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color:black;

  }
   
  picture.photoA{
    display:block;
    width:100%;
    filter: contrast(70%);

}
main {display: block;background-color:#A59B96; 
    picture.photoA div{
    text-align:center;}

    picture.photoA img{
    width:100%;}
    h1 {color: $color_white;}

    figure img {width: 100%;}
    figure{
    margin: 0;
    width: 100%;}
    figcaption {text-align: center; font-size: .8rem;}
   
    //end of the main
}
//Forescast//
.Forecast1 {
    display: none;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: rgb(56, 54, 54);;
    margin: 0 auto; 
    color:white;
  }
  .Forecast1 h2{
    grid-column-start:span 5;
    justify-content: center;
}

footer {
    background-color: #17a8e4;
    height: auto;
    text-align: center; 
    padding:0.75rem;
    margin: 0 auto;
    font-family: $fontprincipal;
    
}
footer p{
    margin-left: 30px;
}
.Article{
 margin:30px;
 font-size: 1.2rem;
 font-family: $fontsecond;
 font-style: italic;
}


main div.cards {
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    margin: auto;
    text-align:center;
    padding: .10rem;
    grid-gap: 10px;
    padding: 0.5rem;
    font-family: $fontsecond;
     
    }

 div.cards section   {
       
        border: 1px solid rgb(30, 51, 37);
        border-radius: 5px;
        background-color: #8FBAEC;
    }
    .Activityphoto  {
        background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  width:100%;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
    
  }
}
 

#map{
    float:right;
    margin-top: 0;
    display:none;
    height:100%;
    margin-right:10px;
    
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*----Peple---*/

 .blog {
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    margin: auto;
    padding: .5rem;
    grid-gap: 10px;
    padding: 0.5rem;  
    background: #B4ADA9;
 }
 .Peoplephoto{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    width:100%;
    background: #eee;
    box-shadow: 0 -2px 6px -3px rgba(0,0,0,0.1);
    filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
      content: "";
        display: block;
      padding-top: 56.25%; // 16:9 aspect ratio
    }
}
    .Description {
        text-align:center;
        margin: auto;
        transition: left .2s;
        background: #4783B5;
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: .9rem;
        padding-bottom: 30px;
        font-family: $fontthird;

}  
.Years{
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
    }
    &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
}
.title{
    padding: 0.5rem;
    background:#B4ADA9;
    text-align: center;
    font-size: 1.5rem;
}


/*--Reservation--*/

form fieldset {
    width: 100%;
    max-width: 30rem;
    display: table;
    margin: auto;
    padding: .75rem;
}
.form{
   
  display: block;
  position: relative;
  display: table;
  font-family: 'Montserrat', sans-serif;
  border: 1px $color_white;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
  color:$color_white;
  padding-left: 15%;

}
.buttons{
    width:100%;
    max-width: 38rem;;
    display: table;
    margin:auto;
     padding:.75rem; 
}
form label {
    margin: 0 1rem 0 0;
}

input{
    max-width: 40rem;
}
.fo li{
    list-style-type: none;
    padding-right: 20px;   
}
 div.inf {
    justify-content:center;
    margin: auto;
    text-align:center;
    padding: .10rem;
    grid-gap: 10px;
    padding: 0.5rem; 
    font-family: $fontsecond;
}

.Reserphoto{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    width:100%;
    filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
      content: "";
        display: block;
      padding-top: 56.25%; // 16:9 aspect ratio
      
    }
}
div.inf section   {
       
    border: 1px solid rgb(30, 51, 37);
    border-radius: 5px;
    background-color: #8FBAEC;
}

.sepa{
    background-image:url(../images/backg.jpg);
    height: auto;
}
/*Thank you*/
.thankyou{
padding: 0.5rem;
text-align: center;
}
/*Contact*/
.contact{
    padding: 0.5rem; 
    text-align: center;  
    align-items: center;
    background-image:url(../images/im.jpg);
    font-family: $fontthird;
}


#map{
    width:50%;
}