/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
header, footer{
    background-color:rgb(101, 111, 167);
    height: auto;
    align-items: center;
    
    padding:0.75rem;
    margin: 0 auto;
    text-align: center;

    
}
.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    color:black
    font-style: italic;
}
header img{
    float: left;
    padding: 18px;
}
    
h1 {
    font-size: 2rem;
    text-align: center;
}
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6 rem;
    color: #fff;   
    text-align: center;
    width: 100%;
}
nav{
    background-color: #36454f;
    font-family: verdana,sans-serif;

}
nav ul{
    list-style-type:none;
    padding:0;
    margin: 0;
}
nav ul li a{
    display:block;
    padding: .8rem 2%;
    text-decoration:none;
    color:rgba(255,255,255,0.8);
    border-top:1px solid rgba(0,0,0,0.3);
}
nav ul li.active a{background-color: rgba(0,0,0,.2); color:#fff;}
nav ul li a:hover { background-color:rgba(0,0,0,0.4);
}
nav ul.hide {
    display: none;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
 











