/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#36454f+2,00001c+100 */
background: #36454f; /* Old browsers */
background: -moz-linear-gradient(top, #36454f 2%, #00001c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #36454f 2%,#00001c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #36454f 2%,#00001c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36454f', endColorstr='#00001c',GradientType=0 ); /* IE6-9 */

    
    }
    nav button {display: none;}
nav ul.hide {display: flex;justify-content: space-evenly;}
nav ul {justify-content: space-evenly;}

nav ul il {
  flex: 1 1 90%;
}

nav ul li a {
  border: none;
  padding: .6rem 1rem .6rem 1rem;
  align-items: center;
  text-align: center;
}
  
    
   
    .herodiv {
        grid-template-columns: 1fr 1fr 1fr;

       }
    
    
} /*end large */

