/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 
caption{
    font-family: Ubuntu, sans-serif;
    font-weight: bold;

}
table{
    
        margin: 10px auto;
        border: 1px solid lightgrey;
        border-collapse: collapse;
        font-family: Ubuntu, sans-serif;
        box-shadow: 10px 10px 15px #628ca6;
}


  th, td {
    padding: 5px;
    text-align: center;
  }
  tr:nth-of-type(odd) {
    background-color:#e7f0ed ;
  }
  
  tr:nth-of-type(even) {
    background-color:#e7ffed ;
  }

#mark, #color3{
    background-color: #628ca6;
}
thead {
font-size:25px;
Text-align:center;
padding: 15px;
}
#head{
    background-color: #7fb9c2;
}
#color3{
    color:white;
}

tfoot tr td {
    font-size: .7rem;
    background-color:#7fb9c2;
}
