/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  header {
    position: absolute;
    height:150%;
    width:25%;
    padding:3%;
}
nav ul {padding-left: 2%;}
    nav ul.hide {display: flex;}
}
main{
float:right;
width: 75%;
padding-left:2%;
}
article{
  float:right;
  padding-left:2%;
  }
