@charset "utf-8";
body{
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#alert{
display: block;
padding: .5;
}
h1{
    font-size:1.5rem;
    margin:0.15rem;
    font-family:'Gelasio', serif;
}
h2{
    font-size: 1rem;
    border-bottom: 1px;
    margin-bottom:0.5rem;
}

link rel{ 
    color:navy;
    margin-left:20px;
}
header,main, footer{
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;

}

  h2{
    font-family: 'Ibarra Real Nova', serif;
  }
header{
    margin-top:10px;

}
header, footer{
    background-color:rgb(101, 111, 167);
    height: auto;
    max-width: 45rem;
    text-align: center;
}
.middle{
    background-color:white;
    text-align: left;
    padding: 15px; 
    height: auto;  
    font-size: .9em; 
}
 img{
    width: 200px;
    height: auto; 

}


