/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 footer{
    background-color:rgb(101, 111, 167);
    height: auto;
    text-align: center; 
    padding:0.75rem;
    margin: 0 auto;
 }
     a{
color: white;
        
}


body{
color:black;
font-size: 1.75rem;
display:flex;
flex-direction:column;
align-items: center;
margin:100px;
background-color: lightgray;
}
  main {
      max-width:820px;
    margin:0 auto;}
    
  h1 {
      text-align: center;
      font-size:4rem;
      text-shadow:3px 3px 5px #777;
      color:blue;
    }
    h2{
        text-align: center;
    }
   
    .inf{
        color:brown;
    }
p{
    color:black !important;
}
#info{
    color:blue;
}
div p{
    color:purple;
}
p{
    color:red;
}


