/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 footer{
   
    height: auto;
    text-align: center; 
    padding:0.75rem;
    margin: 0 auto;
 }
     a{
color: white;
        
}

body{
    background-color: lightgray;
}

header {
background-color:linear-gradient(rgb(158, 152, 152)),rgb(85, 83, 83);
display: flex;
height: 10rem;
padding: .5rem;
align-items: center;
justify-content: center;
margin: 0 auto;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  main {
    margin:0 auto;
    color:black;
  }
  h1 {
      text-align: center;
      font-size:2.5rem;
      text-shadow:3px 3px 5px #777;
      
    }
    h2{
        
        color:rgb(54, 38, 141);

    }
   p{
       font-size: 1rem;
   }
  section  img{
        max-width:60%;
        border:none;
        align-items: center;
    }

    img[data-src] {
        filter: blur(0.2em);
      }
      
   main div.cards {
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    margin: auto;
    text-align:center;
    padding: .5rem;
    grid-gap: 10px;
    padding: 0.5rem;
    box-shadow: 0 0 25px gray;
    
    
    }
    div section {
        padding: 1em;
        border: 1px solid #36453B;
        border-radius: 5px;
        background-color: rgb(137, 140, 177);
    }
    /* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  main  div.cards {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content:center;
        margin: auto;
        width:97%;
        text-align:center;
    
    
} /*end medium */


/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {


 main  div.cards {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
     
    
    
} /*end large */

}}