/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 footer{
    background-color:rgb(101, 111, 167);
    height: auto;
    text-align: center; 
    padding:0.75rem;
    margin: 0 auto;
 }
     a{
color: white;
        
}
#alert{
    background-color: cornflowerblue;
    height:auto;
    font-weight: bold;
    

}
body{
    background-color: lightgray;
}

header {
     background-color:rgb(101, 111, 167);
display: flex;
height: 10rem;
padding: .5rem;
align-items: center;
justify-content: center;
margin: 0 auto;
}
header div {
    display:flex;
}
header section {
    text-align: center;
    margin:auto 0;
    flex: 0.9;
}
.logo {
    flex: .1;
    margin:auto 0;
    display:block;
    height:2rem;
}
header h1, header h4 {
    margin: 0;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    color:black   
}

 
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    /*font-size: 1.6 rem;*/
    color: #fff;   
    text-align: center;
    width: 100%;
}
nav{
    padding:0;
    text-align: center;
    white-space: nowrap;
    background-color: #36454f;
    font-family: verdana,sans-serif;
    

}
nav ul{
    list-style-type:none;
    padding:0;
    margin: 0;
}

nav ul li a{
    display:block;
    padding: .8rem 2%;
    text-decoration:none;
    text-align: center;
    color:rgba(255,255,255,0.8);
    border-top:1px solid rgba(0,0,0,0.3);
}
nav ul li.active a{background-color: rgba(0, 0, 0, 0.377); color:#fff;}
nav ul li a:hover { background-color:rgba(8, 5, 10, 0.932);
}
nav ul.hide {
    display: none;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  main {
      max-width:820px;
    margin:0 auto;}
    
  h1 {
      text-align: center;
      font-size:2.5rem;
      text-shadow:3px 3px 5px #777;
    }
    h2{
        text-align: center;
    }
  
    .Forecast1 {
        display: none;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        background-color: darkgray;
        padding:0.75rem;
        margin: 0 auto;
       
        
      }
      .Forecast1 h2{
          grid-column-start:span 5;
          justify-content: center;
      }
     
    

    #herodiv{
        position: relative;
        
    }
section{
    display: block;
}
  .hero-ph {
    position: absolute;
    background-color: #eee;
    border :1px solid #333;
    top:.2rem;
    left:3rem;
    justify-content: center;
    padding: .2rem;
    
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  main {
    margin:0 auto;
    color:black;
  }
  h1 {
      text-align: center;
      font-size:2rem;
      text-shadow:3px 3px 5px #777;
      
    }
    h2 {
        font-size: 1rem;
        color:rgb(54, 38, 141);

    }
   p{
       font-size: 1rem;
   }
  section  img{
        max-width:70%;
        border:none;
        align-items: center;
    }

    img[data-src] {
        filter: blur(0.2em);
      }
      
   main div.cards {
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    margin: auto;
    text-align:center;
    padding: .5rem;
    grid-gap: 10px;
    padding: 0.5rem;
    box-shadow: 0 0 25px gray;
    
    
    
    
    }
    
 div.cards section   {
        padding: 1em;
        border: 1px solid #36453B;
        border-radius: 5px;
        background-color: rgb(137, 140, 177);
    }








