/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 footer{
    background-color:rgb(101, 111, 167);
    height: auto;
    text-align: center; 
    padding:0.75rem;
    margin: 0 auto;
 }
     a{
color: white;
        
}
body{
    background-color: lightgray;
}

header {
background-color:rgb(101, 111, 167);
display: flex;
height: 10rem;
padding: .5rem;
align-items: center;
justify-content: center;
margin: 0 auto;
}
header div {
    display:flex;
}
header section {
    text-align: center;
    margin:auto 0;
    flex: 0.9;
}
.logo {
    flex: .1;
    margin:auto 0;
    display:block;
    height:2rem;
}
header h1, header h4 {
    margin: 0;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    color:black   
}

 
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    /*font-size: 1.6 rem;*/
    color: #fff;   
    text-align: center;
    width: 100%;
}
nav{
    padding:0;
    text-align: center;
    white-space: nowrap;
    background-color: #36454f;
    font-family: verdana,sans-serif;
    

}
nav ul{
    list-style-type:none;
    padding:0;
    margin: 0;
}

nav ul li a{
    display:block;
    padding: .8rem 2%;
    text-decoration:none;
    text-align: center;
    color:rgba(255,255,255,0.8);
    border-top:1px solid rgba(0,0,0,0.3);
}
nav ul li.active a{background-color: rgba(0,0,0,.2); color:#fff;}
nav ul li a:hover { background-color:rgba(55, 42, 71, 0.575);
}
nav ul.hide {
    display: none;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  main {
      max-width:820px;
    margin:0 auto;}
    
  h1 {
      text-align: center;
      font-size:2.5rem;
      text-shadow:3px 3px 5px #777;
    }
    h2{
        text-align: center;
    }
  
    .Forecast1 {
        display: none;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        background-color: darkgray;
        padding:0.75rem;
        margin: 0 auto;
       
        
      }
      .Forecast1 h2{
          grid-column-start:span 5;
          justify-content: center;
      }
      #cloudy, #cloudy1, #cloudy2, #sun, #rain  {
         display:block;
         margin: 0 auto;
         width:37%;
      }
    

    #herodiv{
        position: relative;
        
    }

  .hero-ph {
    position: absolute;
    background-color: #eee;
    border :1px solid #333;
    top:.2rem;
    left:.5rem;
    justify-content: center;
    padding: .2rem;
    
  }
  #herodiv p {
    margin: 0;
    font-size: .8rem;

}
#preston1{
    display:block; 
    width: 99%;
    margin: 0;
}

  .weathersummary{
      position: absolute;
      top:60px;
      right: 50px;
      background: radial-gradient(rgb(202, 202, 240),rgb(224, 228, 230));
      border: 1px solid blue;
      padding: .5rem;
      box-shadow: 0 0 30px #777;
  }
  

  .Article{
    position: relative;
    border:3px solid black;
    margin: 15px auto;
    height:auto;
    padding:0.75rem;
    

}
  #Coronavirus{
    width:29%;
   float:right;
  }
  .Contact{
    position: relative;
    border:3px solid black;
    margin: 10px auto;
    height: auto;
    font-size: .8rem;
    padding:0.75rem;

}
#map{
    float:right;
    width:55%;
    margin-bottom: 5px;
    display:none;
    
}


 








