
 .title{
     text-align: right;
 }
 header a{
    color:#FAEBD7;
    text-decoration:none;
 }
header a:active a{color:#DEB887;}
header a:hover { color:white; text-decoration: underline;
     }
 header{
    background-color:#6495ED;
    padding: 8%;
    text-align: right;
    
 }
nav {   border-color: transparent;
    } 
nav  ul{margin:0; padding: 0;}
nav  li {list-style-type: none;   
     position: relative;}
nav a {
        display: block;
        padding: .8rem 0; /*44px min*/
        text-align: right;
        text-decoration: none;
        color:#FAEBD7;
     }
 nav ul li.active a{color:#DEB887;}
nav ul li a:hover { color:white; text-decoration: underline;
     }

  article{
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    margin: auto;
    text-align:center;
    padding: 1.2rem;
    

      
  }
  img{
      width: 12rem;
      
  }
  main{
      background-color: #FAEBD7;
  }
  article h2 a{
    color:black;
    text-decoration:none;
 }
article h2 a:active a{color:#DEB887;}
article h2 a:hover { color: black; text-decoration: underline;
     }
      
  .post-content{
      background-color: white;
      box-shadow: 10px 10px 5px grey;
      
  }
  main h2{
    text-align: left;
    padding-left: 10%; 
    padding-right: 10%;
  }
  .post-date{
    background-color: white; 
    text-align: left;
    padding-left: 10%;
    padding-top: 5%;
    color: grey;
    box-shadow: 10px 10px 5px grey;
  }
  hr{
    color:#FAEBD7
  }
  main p{
    padding-left: 10%; 
    padding-right: 10%;
  }
  p a{
    color:#6495ED;
    text-decoration:none;
 }
p a:active a{color:#DEB887;}
p a:hover { color: #6495ED; text-decoration: underline;
     }

     body p{
       font-family:Helvetica, Arial, sans-serif;;
     }
     h1{
      font-family: 'Lora', serif;
     }
     h2{
      font-family: 'Lora', serif;
     }