/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#36454f+2,00001c+100 */
header {
    position: absolute;
    height:151.8%;
    width:25%;
    padding:3%;
}
nav ul {padding-left: 2%;}
    nav ul.hide {display: flex;}

main{
float:right;
width: 90%;
padding-left:2%;
margin-left: 20%;
    margin-right: 10%;
}
article{
  float:right;
  padding-left:2%;
  width: 53%;
    margin-left: 10%;
    margin-right: 10%;
  }
p{
    text-align: left;
}
}