/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
nav{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#36454f+2,00001c+100 */
background: #36454f; /* Old browsers */
background: -moz-linear-gradient(top, #36454f 2%, #00001c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #36454f 2%,#00001c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #36454f 2%,#00001c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36454f', endColorstr='#00001c',GradientType=0 ); /* IE6-9 */


}
nav button {display: none;}
nav ul.hide {display: flex;justify-content: space-evenly;}
nav ul {justify-content: space-evenly;}

nav ul il {
  flex: 1 1 90%;
}

nav ul li a {
  border: none;
  padding: .6rem .6rem .6rem .6rem;
}
.herodiv {
  grid-template-columns: 7.3rem 4rem;
}

.Forecast1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  text-align: center;

   
}
.hero-ph {
 
  font-size:1.2rem ;
}
#herodiv p {
  margin: 0;
  font-size: .8rem;
  font-weight: bold;

}

.Forecast1 img {
  display: block;
  max-width: 60%;
  margin: auto;
}
.weather{
  border:1px solid black; 
  background-color: #68A1B7;
  color:black;
}

#Coronavirus {
  width:30%;
}
.Article{
  height: 20rem;
  height: auto;
}
.Contact {
  flex-direction: row;
  height: auto;
}
.Contact > div {
  margin-right: .6rem;
}
#map {
  display: block;
  width:37%;
}
.Temp {
margin: 0;
align-content: center;
align-items: center;
border:1px solid black; 
}
div{
  display:block;
}
div.Forecast1{
  border:1px solid black; 
}
.Temp{
  background-color:#445661;
}
.herodv {
  grid-template-columns: 1fr 1fr;
  grid-row-gap:15px;
  text-align:center;
  grid-column-gap:2px;

 }
 .cards {
  display: flex;
  flex-wrap: wrap;
}
.townsection:nth-child(even) {
  flex-direction: row-reverse;
}
.blog{
  text-align: none;
  justify-content: right;
}
.townsection {
  display: flex;
  width: 95%;

  padding: 5px 5px;
  margin-bottom: 20px;
}
.Peoplephoto{
  width:100%;

}
.townsection div {
  margin: auto;
}

.townphoto {
  width: 90%;
}
 } /*end medium */

