
    header, nav, main, footer {
        max-width: 1200px;
        margin:auto;
    }
  
    nav {
        ul {padding-left: $gutter;}
         button {display: none;}
         ul.hide {display: flex;}
    }   
    main figure { width: 31%;}
    main  div.cards {
      
        display:grid;
        grid-template-columns: 1fr 1fr 1fr; 
  }
  .Activitysection {
    display: block;
}

.Activitysection div {
    height: 250px;
}
    
    div.news {column-count: 3;}
    .Peoplephoto {
        width:45%;
        
      }
      #mapA{
        width: 550rem;
      }